{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}
<h1>Information</h1>
<div class="row flex">
    {% for information in pagination %}

    <div class="col3">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <a href="{{ path('information.show', {id: information.id, slug: information.slug} ) }}">{{ information.title }}</a>
                </div>
                
                <p class="card-text">{{ information.subtitle }}</p>
                
            </div>
        </div>
    </div>

    {% endfor %}
    
    </div>
    <div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
