/* panneau */

.nav-perso {
    position: fixed;
}

.panneau {
    width: 200px;
    border-radius: 10px;
    background: white;
    /* bring your own prefixes */
    /*transform: translate(-50%, -50%);*/
    z-index: 10;
}

.panneau-ext {
    margin: 1px 1px 1px 1px;
    border: 2px solid;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;

}
.panneau-red {
    border: 5px solid red;
    border-radius: 10px;
}
.panneau-red > p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.panneau-container{
    text-align: center;
}
#image-home {
    display: block;
    width: 350px;
    height: 100px;

}